body {
	background-image: url(../img/resume-background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font: 1rem/1.3 Cambria, Verdana, Geneva, Tahoma, sans-serif;
	
}

#first-half {
	margin-left: 25px;
	margin-right: 70px;
	width: 600px;
	float: left;
}

li {
	font-size: 15px;	
}

#second-half {
	float: center;
	margin-right: 25px;
	margin-left: 25px;
	padding: 18.9px;
}


#custom-head {
	font-size: 25px;
}
p {
	font-size: 15px;
}
